h1 {
    text-align: center;
}

img {
    height: 250px;
    width: 250px;

}

.first-column {
    color: white;
    background-color: red;
}

#line-capacity .gb {
    background-color: grey;
    font-size: 2em;
    text-align: center;

}

#lists li {
   color: red;
}

#five {
    background-color: yellow;
    padding: 30px;
}

table {
    border-collapse: collapse;
    margin: 0px auto;
    width: 50%;
}

td,th {
    border: 1px solid black;
}

[colspan="2"],[colspan="3"] {
    background-color: rgb(112, 112, 187);
}